<html>
<head>
</head>
<body>

<div class="main">


  <div class="sidebar">

    <div class="banner">
      <img src="../assets/images/OR_SJlogo.png">
      <h2>filter by...</h2>
    </div>

      <ul class="checkboxcol"> 
        <li><input type="checkbox" name="options[]" value="mitigation">Mitigation</li>
        <li><input type="checkbox" name="options[]" value="floodplain_management">Floodplain Management</li>
        <li><input type="checkbox" name="options[]" value="water_resources">Water Resources</li>
        <li><input type="checkbox" name="options[]" value="hh_modeling">H&amp;H Modeling</li>
        <li><input type="checkbox" name="options[]" value="emergency_preparedness">Emergency Preparedness</li>
        <li><input type="checkbox" name="options[]" value="gage_information">Gage Information</li>
        <li><input type="checkbox" name="options[]" value="weather">Weather</li>
        <li><input type="checkbox" name="options[]" value="planning">Planning</li>
        <li><input type="checkbox" name="options[]" value="dam_levee_safety">Dam/Levee Safety</li>
      </ul>
  </div>

  <div class="programtable">

    <div class="card" id="FEMA" data-tags="mitigation,floodplain_management,water_resources,hh_modeling,emergency_preparedness,gage_information,planning,dam_levee_safety">
      <img src="../assets/images/FEMA.jpg" alt="FEMA" title="Federal Emergency Management Agency (FEMA)">
      <div class="container">
        <span class="office" id="FMA" data-tags="mitigation,planning">Flood Mitigation Assistance</span>
        <span class="office" id="NFIP" data-tags="floodplain_management">National Flood Insurance Program</span>
        <span class="office" id="CRS", data-tags="floodplain_management">Community Rating System</span>
        <span class="office" id="HMGP", data-tags="mitigation">Hazard Mitigation Grant Program</span>
        <span class="office" id="BRIC", data-tags="mitigation">Building Resilient Infrastructure and Communities</span>
        <span class="office" id="PAGP", data-tags="mitigation,planning">Public Assistance Grant Program</span>
        <span class="office" id="RCPGP", data-tags="mitigation">Regional Catastrophic Preparedness Grant Program</span>
        <span class="office" id="RMAP", data-tags="floodplain_management,water_resources,hh_modeling">Risk Mapping, Assessment, and Planning</span>
        <span class="office" id="NDSP", data-tags="dam_levee_safety">National Dam Safety Program</span>
        <span class="office" id="CDLP", data-tags="mitigation">Community Disaster Loan Program</span>
        <span class="office" id="IHP", data-tags="mitigation">Individuals and Households Program</span>
        <span class="office" id="HPCRP", data-tags="mitigation">Historic Preservation and Cultural Resources Program</span>
        <span class="office" id="EMPG", data-tags="mitigation,emergency_preparedness">Emergency Management Performance Grants</span>
        <span class="office" id="HSGP", data-tags="mitigation">Homeland Security Grant Program</span>
        <span class="office" id="CCP", data-tags="mitigation">Citizen Corps Program</span>
      </div>
    </div>
  
    <div class="card" id="USACE" data-tags="mitigation,floodplain_management,water_resources,hh_modeling,emergency_preparedness,planning,dam_levee_safety">
      <img src="../assets/images/usace.png" alt="USACE" title="United States Army Corps of Engineers (USACE)">
      <div class="container">
        <span class="office" id="EPRRP" data-tags="emergency_preparedness">Flood Mitigation Assistance</span>
        <span class="office" id="CAP" data-tags="floodplain_management,water_resources,hh_modeling,planning">Continuing Authorities Program</span>
        <span class="office" id="PAS", data-tags="floodplain_management,water_resources,hh_modeling,planning">Planning Assistance to States Program</span>
        <span class="office" id="FPMS", data-tags="mitigation,floodplain_management">Floodplain Management Services Program</span>
        <span class="office" id="GI", data-tags="mitigation,floodplain_management,water_resources,hh_modeling,emergency_preparedness,planning,dam_levee_safety">General Investigations</span>
        <span class="office" id="ICW", data-tags="water_resources,emergency_preparedness">Public Assistance Grant Program</span>
      </div>
    </div>

    <div class="card" id="DLCD" data-tags="mitigation,floodplain_management,planning">
      <img src="../assets/images/oregon-DLCD.png" alt="DLCD" title="Oregon Department of Land Conservation & Development (DLCD)">
      <div class="container">
        <span class="office" id="SCNFIP" data-tags="floodplain_management,planning">State Coordination of the National Flood Insurance Program</span>
        <span class="office" id="SHMP" data-tags="mitigation,planning">State Hazard Mitigation Plan</span>
      </div>
    </div>

    <div class="card" id="DOGAMI" data-tags="mitigation">
      <img src="../assets/images/dogami.jpg" alt="DOGAMI" title="Oregon Department of Geology and Mineral Industries (DOGAMI)">
      <div class="container">
        <span class="office" id="GSSP" data-tags="mitigation">Geologic Survey & Services Program</span>
        <span class="office" id="MLRRP" data-tags="mitigation">Mineral Land Regulation and Reclamation Program</span>
      </div>
    </div>

    <div class="card" id="NOAA" data-tags="emergency_preparedness,gage_information,weather">
      <img src="../assets/images/noaa.png" alt="NOAA" title="National Oceanic and Atmospheric Adminstration (NOAA)">
      <div class="container">
        <span class="office" id="WFO" data-tags="gage_information,weather">Weather Forecast Offices</span>
        <span class="office" id="NRFC" data-tags="gage_information,weather">Northwest River Forecast Center</span>
        <span class="office" id="AHPS" data-tags="gage_information,weather">Advanced Hydrologic Prediction Service</span>
        <span class="office" id="AHPS-FIP" data-tags="emergency_preparedness,weather">Advanced Hydrologic Prediction Service - Flood Inundation Maps</span>
        <span class="office" id="SRP" data-tags="emergency_preparedness">NWS StormReady Program</span>
        <span class="office" id="WRAH" data-tags="emergency_preparedness">Weather Radio All Hazards</span>
        <span class="office" id="ASOS" data-tags="gage_information,weather">Automated Surface Observing Systems</span>
        <span class="office" id="COP" data-tags="emergency_preparedness,gage_information,weather">Cooperative Observer Program</span>
      </div>
    </div>

    <div class="card" id="NRCS" data-tags="mitigation,water_resources,emergency_preparedness,planning,dam_levee_safety">
      <img src="../assets/images/nrcs.png" alt="USDA NRCS" title="National Resources Conservation Service (NRCS)">
      <div class="container">
        <span class="office" id="EWPP" data-tags="mitigation,water_resources,emergency_preparedness">Emergency Watershed Protection Program</span>
        <span class="office" id="WPFPP" data-tags="mitigation,water_resources,emergency_preparedness">Watershed Protection and Flood Prevention Program</span>
        <span class="office" id="WSPP" data-tags="mitigation,water_resources,emergency_preparedness,planning">Watershed Surveys and Planning Program</span>
        <span class="office" id="DRA" data-tags="mitigation,planning,dam_levee_safety">Dam Rehabilitation Assistance</span>
      </div>
    </div>
  
    <div class="card" id="USGS" data-tags="emergency_preparedness,gage_information,weather">
      <img src="../assets/images/usgs.png" alt="USGS" title="United States Geological Survey (USGS)">
      <div class="container">
        <span class="office" id="NHP" data-tags="emergency_preparedness,gage_information,weather">Natural Hazards Program</span>
        <span class="office" id="WP" data-tags="gage_information,weather">Water Programs</span>
        <span class="office" id="FI" data-tags="gage_information,weather">Flood Information</span>
        <span class="office" id="FDCC" data-tags="gage_information,weather"> Floods, Droughts, and Current Conditions</span>
        <span class="office" id="WDN" data-tags="gage_information,weather">Water Data for the Nation</span>
        <span class="office" id="WA" data-tags="emergency_preparedness,gage_information,weather">WaterAlert</span>
        <span class="office" id="WN" data-tags="emergency_preparedness,gage_information,weather">WaterNow</span>
      </div>
    </div>

  </div>
</div>

</body>
</html>
