<html lang="en">
<head>
</head>
<body>

<div class="main">

    <div class="sidebar">

        <div class="banner">
            <img src="../assets/images/OR_SJlogo.png" alt="Oregon Silver Jackets Logo">
            <h2>filter by...</h2>
        </div>
        <FilterBox />
    </div>

    <div class="programtable">
        {{#each @model as |card|}}
            <Card @card = {{card}} />
        {{/each}}
    </div>
</div>

</body>
</html>
